/* Partials Load-in */

@use '../../partials/fonts' as *;
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

/* Media Queries */ 

@mixin tablet {
    @media (min-width: $tabletBreakPoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktopBreakPoint) {
        @content;
    }
}

.video-player {
    width: 100%;
    background-color: #000;
}

.video-player__video {
    max-height: 200px;
    width: 100%;
    object-fit: cover;

    @include tablet() {
        max-height: 400px;
        width: 90%;
    }

    @include desktop() {
        width: 65%;
        padding: $desktopPadding;
        max-height: 700px;
    }

}