/* Breakpoints */

$tabletBreakPoint: 768px;
$desktopBreakPoint: 1280px;

/* Margins */

/* Padding for Breakpoints */

$mobilePadding: 0.5rem 1rem 0.25rem 1rem;
$tabletPadding: 0.5rem 1.2rem 0.25rem 1.2rem;
$tabletSubSectionPadding: 0rem 5rem;
$desktopPadding: 0rem 12rem 0rem 12rem;
$desktopSubSectionPadding: 0rem 6.5rem;
$desktopSubSectionPaddingTwo: 0rem 10rem;