/* Breakpoints */

$tabletBreakPoint: 768px;
$desktopBreakPoint: 1280px;

/* Margins */

/* Padding for Breakpoints */

$mobilePadding: 0.5rem 1rem 0.25rem 1rem;
$tabletPadding: 0.5rem 1.2rem 0.25rem 1.2rem;
$tabletSubSectionPadding: 0rem 5rem;
$desktopPadding: 0rem 12rem 0rem 12rem;
$desktopSubSectionPadding: 0rem 6.5rem;
$desktopSubSectionPaddingTwo: 0rem 10rem;

/* Colors */

/* Background Colors */

$backgroundColor1: #323232;
$backgroundColor2: #FFFFFF;
$backgroundColor3: #FAFAFA;
$backgroundColor4: #000;
$backgroundColor5: #AFAFAF;
$backgroundColor6: #0095FF;

/* Text Colors */ 

$textColor1: #323232;
$textColor2: #FFFFFF;
$textColor3: #AFAFAF;
$textColor4: #E1E1E1;

/* Element Colors */

$elementColor1: #FFFFFF;
$elementColor2: #AFAFAF;
$elementColor3: #E1E1E1;

/* Font */

/* Font Weights */

$light: 100; 
$normal: 300;
$demi-bold: 500;
$bold: 700; 

/* Font Sizes - Small */

$smallFont1: 0.75rem;
$smallFont2: 0.8rem;
$smallFont3: 0.85rem;
$smallFont4: 0.95rem; 

/* Font Sizes - Medium */

$medFont1: 1.1rem;
$medFont2: 1.3rem;
$medFont3: 1.6rem;

/* Font Sizes - Large */

$lgFont1: 2.4rem;
$lgFont2: 4rem;
$lgFont3: 2.1rem;
$lgFont4: 3.5rem;