/* Partials Load-in */

@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

/* Media Queries */ 

@mixin tablet {
    @media (min-width: $tabletBreakPoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktopBreakPoint) {
        @content;
    }
}

.upload-form {
    margin: 0% 0% 0%;
    padding: $mobilePadding;
    border-top: 2px solid $elementColor3;

    @include tablet() {
        margin: 2% 0% 0%;
    }

    @include desktop() {
        width: 70%;
        overflow: hidden;
        padding: $desktopPadding;

    }


    &__container {
        @include tablet() {
            border-bottom: 2px solid $elementColor3;
        }


        @include desktop() {
            border-bottom: 2px solid $elementColor3;
        }
    }

    &__title {
        font-family: 'AvenirNextLTPro';
        font-weight: 700;
        font-size: 1.8rem;
        text-align: left;
        margin: 8% 0% 0%;
        color: $textColor1;
        width: 100%;

        @include tablet() {
            margin: 5% 0% 5%;
            padding: 0rem 0rem 2rem;
            font-size: 2.4rem;
            border-bottom: 2px solid $elementColor3;
        }
    }

    &__subsection {
        @include desktop() {
            display: flex;
            width: 100%;
        }
    }

    &__text-subsection {
        @include desktop() {
            width: 55%;
            height: 215px;
            padding: 0rem 0rem 4rem;
        }
    }

    &__thumbnail-title {
        font-weight: 500;
        font-size: 0.85rem;
        text-align: left;
        color: $textColor3;

        @include tablet() {
            margin: 0% 0% 1%;
        }
    }

    &__thumbnail-image {
        width: 100%;
        border-radius: 5px;
        

        @include tablet() {
            width: 50%;
            display: flex;
        }

        @include desktop() {
            width: 90%;
            height: 215px
        }
    }

    &__image-container {
        @include desktop() {
            width: 45%;
        }
    }

    &__text-container {
        padding: 0rem;
        display: flex;
        flex-direction: column;
    }


    &__input-title {
        font-weight: 500;
        font-size: 0.85rem;
        text-align: left;
        color: $textColor3;
        margin: 5% 0% 0%;

        @include desktop() {
            margin: 0% 0% 1%;
        }
        
    }

    &__input--video-title{
        width: 98%;
        height: 40px;
        border-radius: 5px;
        border: 2px solid $elementColor3;
        margin: 0%;
        font-size: $smallFont4;
        color: $textColor1;
        background-color: $backgroundColor3;
        margin: 1% 0% 5%;
        font-family: 'AvenirNextLTPro';
        font-weight: 300;

        @include tablet() {
            margin: 0%;
        }

        @include desktop() {
            margin: 0% 0% 5%;
        }
    }

    &__input--video-title::placeholder {
        padding: 0rem 0rem 0rem 0.5rem;
        color: $textColor1;
    }

    &__input--video-title:focus::placeholder {
        color: transparent;
    }

    &__input--video-description {
        width: 98%;
        height: 150px;
        border-radius: 5px;
        border: 2px solid $elementColor3;
        margin: 0%;
        font-size: $smallFont4;
        color: $textColor1;
        background-color: $backgroundColor3;
        margin: 1% 0% 5%;
        font-family: 'AvenirNextLTPro';
        font-weight: 300;
        resize: none;

        @include tablet() {
            margin: 1% 0% 7%;
        }

        @include desktop() {
            height: 110px;
        }
    }

    &__input--video-description::placeholder {
        font-family: 'AvenirNextLTPro';
        padding: 1rem 0rem 0rem 0.5rem;
        color: $textColor1;
    }

    &__input--video-description:focus::placeholder {
        color: transparent;
    }

    &__submit-button {
        background-color: $backgroundColor6;
        color: $textColor2;
        font-size: 1rem;
        border-radius: 5px;
        width: 100%;
        border: none;
        margin: 7% 0% 0%;
        height: 50px;
        font-weight: 700;

        @include tablet() {
            width: 35%;
            margin: 0% 0% 0.5% 0%;
        }
    }

    &__button-subsection {

        @include desktop() {
            display: flex;
            justify-content: flex-end;
        }
        
    }

    &__button-container {
        display: flex;
        flex-direction: column-reverse;


        @include tablet() {
            margin: 5% 1% 0%;
            flex-direction: row;
            justify-content: flex-end;
        }

        @include desktop() {
            width: 60%;
        }
    }

    &__cancel-button {
        background-color: $backgroundColor2;
        color: $textColor5;
        font-size: 1rem;
        border-radius: 5px;
        width: 100%;
        border: none;
        margin: 4% 0% 0%;
        height: 50px;
        font-weight: 700;

        @include tablet() {
            width: 35%;
            margin: 0% 0% 0.5% 0%;
        }
    }
}